<header>
    <div class="logo-search">
        <div class="logo">
            <a href="/"><img class="logo-img" src="<% if (path.includes('admin')){ %>
                ../images/logo.png
                <% } else { %>
                    images/logo.png
                    <% } %>
                "></a>
            <h1>Munchkin Madness</h1>
        </div>
        <div class="search-bar">
            <div id="search-bar-icon">
                <div id="circle"></div>
                <div id="handle"></div>
            </div>
            <input type="checkbox" id="search-toggle">
            <form action="/search" method="post">
                <input type="text" name="search" id="search">
                <button type="submit" class="btn">Search</button>
            </form>
        </div>
    </div>
    <nav>
        <div id="mobile-menu">
            <div id="mobile-menu-top"></div>
            <div id="mobile-menu-middle"></div>
            <div id="mobile-menu-bottom"></div>
        </div>
        <input type="checkbox" id="mobile-menu-toggle">
        <ul>
            <li><a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a></li>
            <li><a href="/cart" class="<%= path === '/cart' ? 'active' : '' %>">Cart</a></li>
            <li><a href="/orders" class="<%= path === '/orders' ? 'active' : '' %>">Orders</a></li>
            <% if (isAuthenticated) { %>
            <li><a href="/admin/products" class="<%= path === '/admin/products' ? 'active' : '' %>">Admin Products</a></li>
            <li><a href="/admin/add-product" class="<%= path === '/admin/add-product' ? 'active' : '' %>">Add Product</a></li>
            <% } %>
        </ul>
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
            <% } else { %>
                <li class="welcome">Welcome <%= user %>!</li>
                <li class="main-header__item logout-group">
                    
                    <form action="/logout" method="post">
                        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                        <button class="logout-button" type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
        
    </nav>
    
</header>